<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Instrumentation also needs INTERNET to host its loopback-only HTTP fixture. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name="io.github.micro123.mediaplayer.ExternalFileSenderActivity" android:exported="true" android:theme="@android:style/Theme.Material.NoActionBar" />
        <provider android:name="io.github.micro123.mediaplayer.ExternalFixtureProvider" android:authorities="io.github.micro123.mediaplayer.test.externalfiles" android:exported="false" android:grantUriPermissions="true" />
    </application>
</manifest>
